* { box-sizing: border-box; margin: 0; padding: 0;}

html, body {overflow-x: hidden}

.active > button > span {
  color: orange;
}

.active-button {
  background-color:#FA6900 !important;
  color: white !important;
  border: 1px solid white;
}

