* { box-sizing: border-box; }

body { margin: 0; }

.active.active.active {
  color: orange;
}

.full-width-image-container {
  width: 100vw;
  height: 650px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}